<div class="col-xs-6" "col-md-4">
<%= form_for [@customer, @job] do |f| %>
  <%= f.label :brand%>
  <%= f.text_field :brand, class: "form-control" %>

  <%= f.label :model_num %>
  <%= f.text_field :model_num, class: "form-control" %>

  <%= f.label :serial_num %>
  <%= f.text_field :serial_num, class: "form-control" %>

  <%= f.label :purchase_date %>
  <%= f.text_field :purchase_date, class: "form-control" %>

  <%= f.label :scheduled_date %>
  <%= f.text_field :scheduled_date, class: "form-control" %>

  <%= f.submit %>
<%end%>
</div>
