<!DOCTYPE html>
<html>
<head>
  <title>CRMProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand"  <%= link_to "Wonsik Jeong", technicians_path %> </a>
    </div>
    <% if current_user %>
    <button type="button" class="btn btn-default btn-lg">
      <span class= "glyphicon glyphicon-log-out" aria-hidden="true"></span>
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete  %>
    </button>
    <% else %>
      <span class="glyphicon glyphicon-thumbs-up">
        <%= link_to 'Signup', new_user_registration_path, class: "btn btn-default btn-lg" %>
        
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <%= link_to 'Login', new_user_session_path %>
      </button>

      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
  </html>
