<!DOCTYPE html>
<html>
<head>
  <title>CRMProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand"  <%= link_to "Wonsik Jeong", technicians_path %> </a>
    </div>

    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      <%= link_to "Log In", technicians_path %>
    </button>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
